.proj-sec {
    position: relative;
    height: 50hv;
    width: 100vw;
    
}

.img-sec {
    width: 100%;
    height: 78vh;
   object-fit: cover;
}


.overlay-text {
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%); /* Center text exactly */ 
    text-align: center;  
    color: white; 
    font-family: Arial, sans-serif;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds readable shadow */ 
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 4rem 2rem;
    
}

.card { 
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    align-items: center;
    margin: auto;
    text-align: center;
}

.card-sm {
    background-color: #dadae4;
    overflow: hidden;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .card-image img{ 
    width: 90%; 
    height: auto; 
    background-color: #c6c6d0;
    border: 1px solid #d3d6e9; 
    padding: 1.4rem 1.4rem 1.4rem 1.4rem; 
    margin-top: 1.2rem;
    border-radius: 7px;
  }

  .card-content { 
    padding: 1.5rem; 
    text-align: left; 
    background-color: #dadae4; 
  }

  .card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .card-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding-bottom: 2rem;
    background-color: #dadae4;
  }

  .tags span {
    background: #000;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    white-space: nowrap;
  } 