.navbar {
    background-color: #72759a;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    height: 4.5rem;
    width: 100%; 
    z-index: 1;
}

.pagestext {
    color: rgb(244, 239, 239)
    
} 